:root {
  --main-bg-color: white;
  --nav-bg-color: #565656;
  --main-border-box: 3px solid blue;
  --main-txt-type: Roboto 10px;
}

body{
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: var(--main-txt-type);
}
.icon{
	height: 5vw;
	width: 5w;
}
.nav{
	font-size: 20px;
	width: 100%;
	background-color: var(--nav-bg-color);
	display: flex;
	
	}
ul{
	height: 50px;
	width: 100%;
	display: flex;
	
}
ul li{
	display: inline;
	margin-right: 30%;

}
#title{
	padding-bottom: 50%;
}
#hero{
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url("coding.jpeg"); background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

}
.blog{
	margin-right: 2%;
	margin-left: 9%;
	margin-top: 40px;
	height: 100px;
	width: 96%;
	display: flex;



}
.blog-img{
  float: left;
  width: 7vw;
  height: 7vw;
  


 
}
.blog-img img{
	height: 10vw;
	width: 10vw;
	vertical-align: top;
	border-radius: 50%;
	
}
.blog-txt{
  width: 70%;
  padding-left: 10vw;
  


}
#blog-cont{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 40px;
}
.blog-box{
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
	width: 30%;
	margin-top: 20px;
	height: 100px;
	
}
.blog{
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 90px;
	height: 100px;
	width: 96%;
	


}
.about{
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 90px;
	height: 100px;
	width: 96%;

}
.contact{
width: 100%;
	background-color: var(--nav-bg-color);
	display: flex;
}
#title:hover{
	opacity: .5;
}
.icon:hover{
	opacity: 5;
}