/*CSS variables */

:root {
  --main-bg-color: white;
  --nav-bg-color: #565656;
  --main-border-box: 3px solid blue;
  --main-txt-type: "Roboto";
  --main-txt-size: 22px;
  --larger-txt-size: 20px;
  --smaller-txt-size: 18px;
  --smallest-txt-size: 11px;
}

/* CSS RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
html{
	padding: 0;
	margin: 0;
}

/* Site Styles */

body{
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
	font-family: var(--main-txt-type);
	font-size: var(--main-txt-size);
}
.icon{
	height: 5vw;
	width: 5w;
}
.nav{
	
	width: 100%;
	background-color: var(--nav-bg-color);
	display: flex;
	padding-right: 10px;

	
	}
ul{
	
	width: 100%;
	display: flex;
	
}
ul li{
	display: inline;
	margin-right: 30%;
	font-size: var(--larger-txt-size);

}
#title{
	padding-bottom: 10%;
	margin-left: 5vw;
	padding-top: 1vw;
}
#hero{
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url("coding.jpeg"); background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

}
.blog{
	margin-right: 2%;
	margin-left: 9%;
	margin-top: 40px;
	height: 100px;
	width: 96%;
	display: flex;



}
.blog-img{
  float: left;
  width: 10vw;
  height: 10vw;
  margin-left: 2vw;

  


 
}
.blog-img img{
	height: 10vw;
	width: 10vw;
	vertical-align: top;
	border-radius: 50%;
	position: relative;
  bottom: 2vw;
	
}
.blog-txt{
  width: 70%;
  padding-left: 10vw;
  


}
#blog-cont{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 90px;
}
.blog-box{
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
	width: 30%;
	margin-top: 20px;
	height: 120px;
	overflow: hidden;
	
}

.placeholder{
	width:100%; 
	height:100%;
}
.blog{
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 90px;
	height: 100px;
	width: 96%;
	


}
.about{
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 90px;
	height: 100px;
	width: 96%;
	margin-bottom: 10px;

}
.about2{
	display: flex; 
	flex-wrap: wrap;
	margin-bottom:15vw;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 90px;
	height: 100px;
	width: 96%;
	
}
#half{
	width: 50%;
	height: 100px;
}
#half2{
	width: 40%;
	height: 100px;
	margin-left: 5vw;
}
.info{
	margin-bottom:20px;
}
#skills{
	margin-left:10vw;
	display: inline;
	list-style-type: circle;
}
#skills li{
	display:list-item;
}
.contact{
width: 100%;
	background-color: var(--nav-bg-color);
	display: flex;
	height: 6vw;
}

/* Effects */

#title:hover{
	opacity: .5;
}
.icon:hover{
	opacity: .5;
}
.placeholder:hover{
	opacity: .5;
}
.placeholder2:hover > #blog1title{
	opacity: .1;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* Responsive Rules */
/* @media screen and (min-width:800px)  {body{font-size: var(--main-txt-size)} */
@media screen and (min-width: 1200px){.blog-box{height: 180px;}}
@media screen and (min-width: 600px) and (max-width: 1200px){body {background-color: green; font-size: var(--smaller-txt-size)}.nav{height: 35px;}ul li{font-size: var(--smaller-txt-size)}.blog-img{width: 100px;} .blog-img img{height: 100px;width: 100px} #blog-cont{margin-top: 100px;}}
@media screen and (min-width: 350px) and (max-width: 599px){body{background-color: blue; font-size: var(--smallest-txt-size)} .nav{height: 25px;}.blog-img {width: 100px;} .blog-img img{height: 100px;width: 100px}; #blog-cont {margin-top:20vw;} ul li{font-size: var(--smallest-txt-size)}#half{flex: 0 0 100%;} #half h1 {text-align: center;} .about2{height: 200px;}#half2{text-align: center; width: 100%;} #skills{display: inline-flex}#half2{margin-top: 20px;}}
@media screen and (max-width: 349px) and (min-width: 0px){body{background-color: red; font-size: var(--smallest-txt-size)} .blog-img{width: 100px;} .blog-img img{height: 100px;width: 100px};#blog-cont{margin-top: 30vw;}ul li{font-size: var(--smallest-txt-size)}.about2{margin-top: 20px;}#half{flex: 0 0 100%;}#half2{flex-basis:40%;} #skills{display: inline-flex} #half2{margin-top: 20px;} #half2 h1{padding-left:33vw;}#half h1 {text-align: center;} #half2 h1 {text-align: center;}.about2{height: 200px;}#half2{text-align: center; width: 100%;} #skills{display: inline-flex}}
